.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 95px;
  color: getColor('accent');
  padding-top: 24px;
  padding-bottom: 25px;

  &--page-footer {
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: getColor('accent');
    margin-bottom: 20px;
    padding: 0;
  }
}
.logo__text {
  color: getColor('third-text');

  &--page-footer {
    color: getColor('second-text');
  }
}