.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    // display: flex;
    // justify-content: flex-end;

    @media screen and (min-width: 768px) {
        display: inline-block;
        flex-direction: column;
    }

    &__icon {
        fill: currentColor;
        margin-right: 10px;
    }
}
.contacts__link {
    color: getColor('primary-text');
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: getAnimation('duration');
    transition-timing-function: getAnimation('timing-function');
    
    @media screen and (min-width: 768px) {
        display: inline-flex;
        padding: 0;
    }

    &:hover,
    &:focus {
        color: getColor('accent');
    }
}
  
.contacts__item {
    display: flex;
    // align-items: flex-end;
    margin-right: 50px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;
        margin: 0;
    }

    &:last-child {
        margin-right: 0;
    }
} 