.follow__thumb {
    // display: inline-flex;
    // align-content: center;
    // margin-top: 20px;
    @media screen and (max-width: 480px), (min-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 20px;
    }
  }
.follow__email {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    will-change: transform;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: getColor('hero-background');
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(getColor('button-shadow'));
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: getAnimation('duration');
    transition-timing-function: getAnimation('timing-function');

    @media screen and (max-width: 480px), (min-width: 480px) {
      width: 450px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 480px) {
      width: 358px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      border-color: getColor('accent');
    }
}

.follow--site__icon {
    margin-left: 10px;
}