.hero {
  color: getColor('second-text');
  background-color: getColor('hero-background');
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-p.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 1.62;
      width: 360px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 695px;
    }
  }
}