.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: getColor('accent');
  padding-top: 24px;
  padding-bottom: 25px;

  // @media screen and (max-width: 480px), (min-width: 480px) {
  
  // }
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 95px;
  }

  &--page-footer {
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: getColor('accent');
    padding: 0;

    @media screen and (max-width: 480px), (min-width: 480px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
.logo__text {
  color: getColor('third-text');

  &--page-footer {
    color: getColor('second-text');
  }
}